body{
    margin: 0;
}

/*navbar*/
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgb(177, 182, 119);
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url(assets/imagenes/Banner.png);
}

.banner-container{
    text-align: center;
    padding: 1% 0;
}

.banner h2{
    margin: 0;
    color: rgb(225, 231, 231);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 45px;
    font-weight: bold;
}


/*Cards*/

.compraFormulario{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-family: arial;
}

.card img{
    width: 90%;
    height: 250px;
}

.price{
    color:rgb(0, 0, 0);
    font-size: 22px;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}


/*carrito*/

.pag-tit{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color:white;
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*tipado*/
    position: fixed;
    overflow: auto;
    z-index: 10;
    top: 12vh;
    scrollbar-color: n0ne;
}

.pag-tit ::-webkit-scrollbar{
    display: none;
}

.pag-titulo{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
}

.pag-titutlo-title{
    justify-self: start;
}

.boton-cerrar{
    cursor: pointer;
    margin-left: 90%;
}

.pag-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.contenido-compra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    border: 4px solid white;
}

.contenido-compra .img-2{
    height: 100px;
    width: 100px;
}

.total-final{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(0, 0, 0);
}

.delete-prod{
    cursor: pointer;
    color: red;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

.swal2-confirm.swal2-styled{
    background-color: rgb(177, 182, 119);
}